/*NAVBAR + CONTENT TOP*/
.content-top{
    background: url(http://wideopentech.com/themes/wot-2013-gm/_/img/wot-masthead-dark.jpg) center bottom;
    background-size: cover;
    height: 70vh;
}

.logo{
    height: 37px;
    margin-left: 55px;
    margin-top: 10px;
}

.navbar-default{
    background-color: transparent;
    border-color: transparent;
}

#nav-items{
    color: white;
    font-weight: 400;
}

.content-top-title{
    font-size: 60px;
    padding-top: 60px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    max-width: 1170px;
    margin: 0 auto;
}

.content-top-btn{
    border: 2px solid #bdd436;
    color: #bdd436;
    font-size: 16px;
    border-radius: 25px;
    padding: 11px 36px;
}

.content-top-text{
    text-align: center;
}

.content-top-btn-wrapper{
    padding-top: 50px;
}

/*CONTENT*/

.box-1{
    text-align: center;
    margin: 60px 15px;
}

.border{
    width: 25%;
    border-top: none;
    height: 8px;
    background: #bdd537;
    color: #bdd537;
}

.box-1 p{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 0px;
    color: #6a787c;
}

.box-2{
    background: #F0F0F0;
    width: 100%;
    padding: 50px 5%;
}

.box-2-container{
    background: #FFF;
    padding: 50px 10%;
    text-align: center;
    margin: auto;
}

.more{
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    vertical-align: middle;
    cursor: pointer;
}

.more i{
    vertical-align: middle;
    margin-bottom: 1px;
}

.box-2-container h2{
    color: #6a787c;
}

.box-2-container p{
    font-weight: 400;
    color: #AEBBC1;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 1px;
}

.box-2-container a{
    color: #bdd436;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.box-2-container a:hover{
    font-size: 19px;
}

.mini-wrapper{
    margin-bottom: 150px;
}

.box-3 img{
    width: 100%;
}