/*NAVBAR + CONTENT TOP*/
.content-top{
    background: url(http://wideopentech.com/themes/wot-2013-gm/_/img/wot-masthead-dark.jpg) center bottom;
    background-size: cover;
    height: 70vh;
}

.logo{
    height: 37px;
    margin-left: 55px;
    margin-top: 10px;
}

.navbar-default{
    background-color: transparent;
    border-color: transparent;
    position: fixed;
    width: 100%;
}

.nav-items{
    color: white !important;
    font-weight: 400 !important;
}

.content-top-title{
    font-size: 60px;
    padding-top: 60px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    max-width: 1170px;
    margin: 0 auto;
}

.content-top-btn{
    border: 2px solid #bdd436;
    color: #bdd436;
    font-size: 16px;
    border-radius: 25px;
    padding: 11px 36px;
}

.content-top-text{
    text-align: center;
}

.content-top-btn-wrapper{
    padding-top: 50px;
}

/*CONTENT*/

.box-1{
    text-align: center;
    margin: 60px 15px;
}

.border{
    width: 25%;
    border-top: none;
    height: 8px;
    background: #bdd537;
    color: #bdd537;
}

.box-1 p{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 0px;
    color: #6a787c;
}

.box-2{
    background: #F0F0F0;
    width: 100%;
    padding: 50px 5%;
}

.box-2-container{
    background: #FFF;
    padding: 50px 10%;
    text-align: center;
    margin: auto;
}

.more{
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    vertical-align: middle;
    cursor: pointer;
}

.more i{
    vertical-align: middle;
    margin-bottom: 1px;
}

.box-2-container h2{
    color: #6a787c;
}

.box-2-container p{
    font-weight: 400;
    color: #AEBBC1;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 1px;
}

.box-2-container a{
    color: #bdd436;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.box-2-container a:hover{
    font-size: 19px;
}

.box-3 img{
    width: 100%;
}

.box-3-content{
    padding: 50px 5%;
}

.box-3 h2{
    color: #6a787c;
}

.box-3 hr{
    float: left;
    width: 25%;
}

.box-3 p{
    color: #AEBBC1;
    font-size: 17px;
    font-weight: 400;
    line-height: 28.8px;
}

.companies{
    color: #6a787c;
    text-align: center;
}

.company-logo-grid div a img{
    padding-top: 30px;
    padding-bottom: 30px;
}

.bg-light{
    background-color: #F0F0F0;
}

.contact-footer{
    text-align: center;
    background: #6a787c;
    color: white;
    padding: 50px;
}

.btn-wot{
    border: 2px solid #bdd436;
    border-radius: 25px;
    background: #bdd436;
    color: #697175
}

.footer{
    background-color: #F0F0F0;
}

.font-main li{
    color: #697175;
    letter-spacing: 1px;
}

.font-main li a {
    color: #697175;
}

.copyright{
    display: block;
    color: #697175;
    margin: 1.5em 0;
    letter-spacing: 1px;
    font-size: 12px;
}

.privacy{
    color: #bdd537;
    letter-spacing: 1px;
    font-size: 10px;
}

.scrolling{
    background-color: white;
    border-color: white;
}

.scrolling-text{
    color: black !important;
}